.app-wrapper {
  min-height: 40rem;
  background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.chat-card {
  width: 90%;
  background: #020617;
  border: 0.1rem solid #334155;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
}

.chat-content {
  padding: 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
}

.chat-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.chat-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  gap: 0.5rem;
  color: white;
}

.chat-header p {
  color: #94a3b8;
  font-size: 1rem;
}

.chat-box {
  background: #0f172a;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow-y: auto;
  width: fit-content;
  box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.5);
}

.message {
  width: fit-content;
  max-width: 90%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  animation: fadeIn 0.3s ease;
  margin-bottom: 1rem;
}

.message.user {
  background: #4f46e5;
  color: white;
  margin-left: auto;
}

.message.bot {
  background: #1e293b;
  color: #e2e8f0;
  margin-right: auto;
}

.input-area {
  display: flex;
  gap: 10px;
}

.text-input {
  flex: 1;
  border-radius: 20px;
  background: #0f172a;
  border: 1px solid #334155;
  padding: 12px 14px;
  resize: none;
  color: white;
  font-size: 0.9rem;
}

.text-input:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
}

.send-button {
  background: #4f46e5;
  border: none;
  border-radius: 20px;
  padding: 0 18px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button:hover {
  background: #4338ca;
  transform: scale(1.03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
